body,ul,li,a,div,figure,aside,input,
header,section,img,p,h2,main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    transition: all 200ms;
}
.hidden{
    display: none;
}
a{
    color: white;
}
body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
main{
    max-width: 2000px;
    margin: 0 auto;
}
/*Menu lateral*/
.MenuLateral{
<<<<<<< HEAD
    background-color: rgb(16, 17, 18);
=======
    background: rgb(14, 14, 14);
>>>>>>> 06a8f273d669e55444e4371f95a808c4036b8fa4
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}
.MenuLateral span{
    display: none;
}
.MenuLateral .MenuLateral__logo{}
.MenuLateral .MenuLateral__logo img{}
.MenuLateral .MenuLateral__navegacao{}
.MenuLateral .MenuLateral__navegacao ul{
    display: flex;
    align-items: center;
}
.MenuLateral .MenuLateral__navegacao li{
    margin: 0px 9px;
}
.MenuLateral .MenuLateral__navegacao li img{
    
}

/* Conteudo da direita com as musicas */

/*Banner */
.Bloco-Musicas{
    background-color: #131313 !important;
}
.Bloco-Musicas .Banner{
<<<<<<< HEAD
    background-image: linear-gradient(44deg, rgb(0 171 92), rgb(0 183 166));
=======
    background-color: rgb(111, 28, 245);
>>>>>>> 06a8f273d669e55444e4371f95a808c4036b8fa4
    background-size: cover;
    height: 150px;
    padding: 10px;
    position: relative;
    color: white;
    font-weight: 600;
}
.Bloco-Musicas .Banner .user{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    
}
.Bloco-Musicas .Banner .user figure{
    display: flex;
    align-items: center;
    
}
.Bloco-Musicas .Banner .user img{margin-right: 10px;}
.Bloco-Musicas .Banner .qtdMusicas{
    position: absolute;
    bottom: 20px;
    left: 25px;
    font-size: 22px;
    font-weight: 300;
}
.Bloco-Musicas .Banner .qtdMusicas p{}

/* Área que contem as musicas*/

/* Cabeçalho das musicas*/
.Bloco-Musicas {
    background-color: #0c0c0c;

}
.Bloco-Musicas .areadeMusicas{
<<<<<<< HEAD
    background-color: rgb(25, 27, 28);
=======
    
>>>>>>> 06a8f273d669e55444e4371f95a808c4036b8fa4
    color: white;
    padding: 30px 15px;
    min-height: 430px;
}
.Bloco-Musicas .areadeMusicas button{
<<<<<<< HEAD
    background:linear-gradient(90deg, #25d399,rgb(3, 133, 83));
=======
    background: #787cf5;
>>>>>>> 06a8f273d669e55444e4371f95a808c4036b8fa4
    color: white;
    padding: 7px 20px;
    font-size: 17px;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
    
}
.Bloco-Musicas .areadeMusicas button:hover{
    background:linear-gradient(90deg, #07bb7f,rgb(3, 114, 71));
    transition: all 500ms;
}
.Bloco-Musicas .areadeMusicas .areadeMusicas__Cabecalho{}
.Bloco-Musicas .areadeMusicas .areadeMusicas__Cabecalho ul{}
.Bloco-Musicas .areadeMusicas .areadeMusicas__Cabecalho li{
    display: flex;
}
.Bloco-Musicas .areadeMusicas .areadeMusicas__Cabecalho p{
    width: 22%;
    padding: 10px;
    border-bottom: 0.5px solid rgb(136, 136, 136);
    color: white;
    font-weight: 600;
}
.Bloco-Musicas .areadeMusicas .areadeMusicas__Cabecalho .primeiro-item{
    width: 55%;
}


/*Lista das musicas*/
::-webkit-scrollbar{
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(139, 139, 139);
    color:rgb(168, 168, 168) ;
    border-radius: 50px;

}

.Bloco-Musicas .areadeMusicas .lista-das-musicas{
    min-height: 200px;
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 70px;
}
.Bloco-Musicas .areadeMusicas .lista-das-musicas li{
    display: flex;
    
}
.Bloco-Musicas .areadeMusicas .lista-das-musicas  p{
    width: 22%;
    padding: 10px;
    border-bottom: 0.5px solid rgb(136, 136, 136);
    color: white;
    font-size: 11px;
    display: flex;
    align-items: center;
}
.Bloco-Musicas .areadeMusicas .lista-das-musicas li:hover{
    background-color: rgb(31, 31, 31);
}
.Bloco-Musicas .areadeMusicas .lista-das-musicas .primeiro-item{
    width: 55%;
}


/* Área do player */
.areaPlayer{
    display: flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
    background: linear-gradient(178deg,rgb(11, 11, 12), rgb(0, 0, 0));
=======
    background: linear-gradient(360deg, black, #000811);
>>>>>>> 06a8f273d669e55444e4371f95a808c4036b8fa4
    position: fixed;
    bottom: 0;
    max-width: 2000px;
    width: 100%;
    z-index: 100;
    margin-bottom: -2px;
}
.areaPlayer .imagemMusica{
    display: flex;
    align-items: center;
}
.areaPlayer .imagemMusica img{
    width: 70px;
    display: none;
    opacity: 0.5;
}
.areaPlayer .infoMusica{
    margin-left: 15px;
    width: 105px;
}
.areaPlayer .infoMusica h2{
    font-size: 9px;
}
.areaPlayer .infoMusica p{
    font-size: 7px;
}
.areaPlayer .areaPlayer__controls{
    display: flex;
    align-items: center;
    width: 156px;
}
.areaPlayer .areaPlayer__controls .next,
.areaPlayer .areaPlayer__controls .previous{
    width: 20px;
    cursor: pointer;

}
.areaPlayer .areaPlayer__controls .play{
    width: 35px;
    cursor: pointer;
    margin: 15px 0;
}
.areaPlayer .areaVolume{
    display: flex;
    align-items: center;  
    margin-right: 10px;
}
.areaPlayer .areaVolume img{
    width: 20px;
}
.areaPlayer .areaVolume input{
    display: none;
}


@media only screen and (min-width: 470px) {
    
    .areaPlayer .areaVolume input{
        display: initial;
    }
    .areaPlayer .imagemMusica img {
        display: initial;
    }

  }
  @media only screen and (min-width: 1080px) {
    main{
        display: flex;
    }
    .Bloco-Musicas{
        width: 80%;
    }
 /*Menu lateral*/
.MenuLateral{
    width: 20%;
    display: initial;
    padding: 35px 40px;
    height: 100auto;
}
.MenuLateral span{
    display: initial;
    font-size: 18px;
    font-weight: 500;
}
.MenuLateral .MenuLateral__logo{}
.MenuLateral .MenuLateral__logo img{
    width: 130px;
    margin-bottom: 20px;
}
.MenuLateral .MenuLateral__navegacao{}
.MenuLateral .MenuLateral__navegacao ul{
    display: initial;
}
.MenuLateral .MenuLateral__navegacao li{
    display: flex;
    align-items: center;
    margin: 15px 0px;
}
.MenuLateral .MenuLateral__navegacao li img{
    margin-right: 11px;
    width: 26px;
}
.areaPlayer .infoMusica {
    width:488px;
}
.areaPlayer .infoMusica h2{
    font-size: 16px;
}
.areaPlayer .infoMusica p{
    font-size: 13px;
}
.Bloco-Musicas .Banner{
    height: 200px;
    border-radius: 40px 0 0 0px;
}
.Bloco-Musicas .Banner .qtdMusicas{
    font-size: 38px;
    bottom: 40px;
    left: 50px;
}
.Bloco-Musicas .Banner .user{

    top: 40px;
    right: 60px;

    
}
.areaPlayer .imagemMusica img {
    width: 80px;
    display: initial;
}
.areaPlayer .areaPlayer__controls .next,
.areaPlayer .areaPlayer__controls .previous{
    width: 35px;
}

.areaPlayer .areaPlayer__controls{
    width: 366px;
}

.areaPlayer .areaPlayer__controls .play{
    width: 50px;
}
.Bloco-Musicas .areadeMusicas .lista-das-musicas p {
    padding: 15px 20px;
}
.Bloco-Musicas .areadeMusicas {
    padding: 30px 75px;
}
.Bloco-Musicas .areadeMusicas p{
    font-size: 15px !important;
}
.areaPlayer .areaVolume{
 
    margin-right: 70px;
}
}